body {
  background: #333333;
  margin: 0;
}

.tiles {
  box-sizing: border-box;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 100px);
  margin: 48px auto;
  width: max-content;
}

.tile {
  background: #111111;
  border: 5px solid #444444;
  cursor: pointer;
  height: 100px;
}
